src/app-backend/project/boot
src/app-backend/project/.boot
src/app-backend/project/.ivy
src/app-backend/project/plugins/project
src/app-backend/project/plugins/target
src/app-backend/project/project
src/app-backend/project/target
src/app-backend/target
src/app-backend/tile/target
src/app-backend/.sbt

.ensime
TAGS
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
Thumbs.db
*.swp

# Deployment
.vagrant
deployment/ansible/roles/azavea.*
*.retry

# Node and Webpack
node_modules/
npm-debug.log
index.html
pgw.communitymapping*.js
pgw.communitymapping*.js.map
vendor.bundle.js
src/app-frontend/dist/
