<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Prioritize Tree Planting Sites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body id="modeling">

<div class="content map">
    <div class="sidebar" id="sidebar-prioritization">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#layers">
                            Priority Layers
                        </a>
                    </h4>
                </div>
                <div id="layers" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion-inner">
                            <div class="presets">
                                <h4>Template:</h4>
                                <div class="presets-dropdown dropdown"
                                     data-value="">
                                    <button id="presets-dropdown-label"
                                            class="btn btn-default dropdown-toggle"
                                            type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="dropdown-label">&nbsp;</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="presets-dropdown-label">
                                        <li><a data-value="" href="javascript:;">&nbsp;</a></li>
                                        <li><a data-value="high-population-low-canopy" href="javascript:;">High population, low canopy</a></li>
                                        <li><a data-value="low-income-low-vacancy" href="javascript:;">Low income, low vacancy</a></li>
                                        <li><a data-value="low-income-high-impervious" href="javascript:;">Low income, high impervious</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default layer-group">
                                <div class="panel-collapse">
                                    <div id="variables-container" class="panel-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#masks" class="collapsed">
                            Masks
                        </a>
                    </h4>
                </div>
                <div id="masks" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="">
                            <div class="mask-header" data-toggle="collapse" data-target="#boundary-masks">Location</div>
                            <div class="collapse in" id="boundary-masks">
                                <div class="mask-chooser">
                                    <label class="boundary-search-label">Add specific location</label>
                                    <div class="autocomplete-group">
                                        <input type="text"
                                               data-class="search"
                                               id="boundary-mask-typeahead"
                                               class="form-control"
                                               data-thumbprint=""/>
                                        <input name="boundary-mask" type="hidden" id="boundary-mask" />
                                    </div>
                                </div>
                                <div id="chosen-masks"></div>
                            </div>
                        </div>
                        <div id="masks-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="map">
        <div class="options">
            <div class="options-toggle">Options</div>
            <div class="options-content">
                <label>Areas visible</label>
                <small class="pull-left">Top Areas</small><small class="pull-right">All Areas</small>
                <input class="slider js-priority-threshold" type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="10" />
                <small class="pull-left">10%</small><small class="pull-right">100%</small>

                <label>Transparency</label>
                <input class="slider js-transparency" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="30" />
                <small class="pull-left">0%</small><small class="pull-right">100%</small>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="variables-tmpl">
    <% _.each(variables, function(variable) { %>
        <div class="layer">
            <input type="checkbox"
                   id="toggle-variable-<%- variable.source %>"
                   data-toggle-variable="true"
                   data-source="<%- variable.source %>"
                   data-title="<%- variable.title %>"
                   data-less="<%- variable.less %>"
                   data-more="<%- variable.more %>" />
            <label for="toggle-variable-<%- variable.source %>">
                <h4><%- variable.title %></h4>
            </label>
            <div class="layer-controls">
                <div class="layer-controls-inner">
                    <div class="weight-dropdown dropdown"
                         data-source="<%- variable.source %>"
                         data-value="2">
                        <div class="input-group-disabled">
                            <div class="input-group-btn-disabled">
                                <button id="weight-dropdown-label-<%- variable.source %>"
                                        class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="dropdown-label">Normal</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="weight-dropdown-label-<%- variable.source %>">
                                    <li><a data-value="1" href="javascript:;">Less Important</a></li>
                                    <li><a data-value="2" href="javascript:;">Normal</a></li>
                                    <li><a data-value="3" href="javascript:;">More Important</a></li>
                                    <li><a data-value="custom" href="javascript:;">Custom Weight</a></li>
                                </ul>
                            </div>
                            <input type="number" class="form-control hide" data-custom="true"
                                   min="1" max="9" value="2" />
                        </div>
                    </div>
                    <div class="polarity-dropdown dropdown"
                         data-source="<%- variable.source %>"
                         data-value="1">
                        <button id="polarity-dropdown-label-<%- variable.source %>"
                                class="btn btn-default dropdown-toggle"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="dropdown-label">
                                <div class="color-ramp blue-to-red">
                                    <span class="dropdown-label-left">Low</span>
                                    <span class="dropdown-label-right">High</span>
                                </div>
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="polarity-dropdown-label-<%- variable.source %>">
                            <li><a data-value="1" href="javascript:;">
                                <div class="color-ramp blue-to-red">
                                    <span class="dropdown-label-left">Low</span>
                                    <span class="dropdown-label-right">High</span>
                                </div>
                            </a></li>
                            <li><a data-value="-1" href="javascript:;">
                                <div class="color-ramp blue-to-red">
                                    <span class="dropdown-label-left">High</span>
                                    <span class="dropdown-label-right">Low</span>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</script>

<script type="text/template" id="raster-masks-tmpl">
    <% _.each(masks, function(mask, maskNumber) { %>
        <div class="mask-header" data-toggle="collapse" data-target="#mask-<%- maskNumber %>"><%- mask.title %></div>
        <div class="collapse in" id="mask-<%- maskNumber %>">
            <% _.each(mask.choices, function(choice, choiceNumber) { %>
                <div class="mask-row js-raster-mask">
                    <input checked="checked"
                           type="checkbox"
                           id="mask-choice-<%- maskNumber %>-<%- choiceNumber %>"
                           data-source="<%- mask.source %>"
                           data-name="<%- choice.name %>"
                           data-values="<%- choice.values.join(',') %>">
                    <label for="mask-choice-<%- maskNumber %>-<%- choiceNumber %>"
                    ><%- choice.title %></label>
                </div>
            <% }) %>
        </div>
    <% }) %>
</script>

<script type="text/template" id="boundary-mask-tmpl">
    <div class="mask-row js-vector-mask">
        <a class="remove-mask" data-boundary-id="<%- boundary.id %>">
            &times;
        </a>
        <div class="mask-name"><%- boundary.name %></div>
        <div class="mask-category"><%- boundary.category %></div>
    </div>
</script>

<script type="text/template" id="legend-control-tmpl">
    <div class="leaflet-legend-control">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5>Planting Areas</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Low Priority
            </div>
            <div class="col-sm-6 text-right">
                High Priority
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="color-ramp color-ramp-wide blue-to-red"></div>
            </div>
        </div>
        <div class="layers">
        <% _.each(layers, function(layer) { %>
            <div class="row">
                <div class="col-sm-6 legend-label">
                    <% if (layer.weight > 0) { %>
                        <%- layer.less %>
                    <% } else { %>
                        <%- layer.more %>
                    <% } %>
                </div>
                <div class="col-sm-6 legend-label text-right">
                    <% if (layer.weight < 0) { %>
                        <%- layer.less %>
                    <% } else { %>
                        <%- layer.more %>
                    <% } %>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
</script>

<script type="text/template" id="loading-control-tmpl">
    <div class="leaflet-control leaflet-loading-control">
        <div class="modeling-loading-icon"></div>
        <span class="modeling-error-icon glyphicon glyphicon-exclamation-sign"></span>
        <span class="text"></span>
    </div>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxp4_gTJHlsFnBHcDlo0Q-qqWPTZitnT8"></script>
